@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

option {
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

p strong {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

label {
  display: block;
  font-weight: 700;
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
