/* SignOutButton.css */
.sign-out-button {
    background-color: #00BF63;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif; /* Ensuring Poppins font */
    font-weight: bold; /* Making the text bold */
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 15px; /* Adjust the top position as needed */
    right: 50px; /* Adjust the right position as needed */
  }
  
  .sign-out-button:hover {
    background-color: #009950;
  }
  
  /* You can customize the button styling further as needed */
  
