.video-recorder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}

.title-and-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Take full viewport height */
}

.title-and-buttons-container h1 {
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

.video-container-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  padding-bottom: 5px;
}

.video-container-popup p {
  text-align: center;
  font-size: large;
}

.video-container-popup.success-popup {
  background-color: white; /* Green background for success */
  color: black;
}

.video-container-popup.error-popup {
  background-color: white; /* Red background for error */
  color: black;
}

.video-container-popup .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.back-to-profile-button,
.see-pro-tips-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #53AD7A;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-to-profile-button:hover,
.see-pro-tips-button:hover {
  background-color: #3A8755;
}

.video-recorder-wrapper {
  width: 100%;
  height: 600px;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.button-group button {
  padding: 10px 20px;
  font-size: 16px;
  width: 200px;
  text-align: center;
  background-color: #53AD7A;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-group button:hover {
  background-color: #3A8755;
}

.button-group button:disabled {
  background-color: #A5D6A7;
}

.pro-tips {
  text-align: left;
  width: 100%;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-top: 20px;
}

.pro-tips ul {
  list-style-type: none;
  padding: 0;
}

.pro-tips li {
  margin-bottom: 10px;
}

.tip-highlight {
  font-weight: bold;
  color: #53AD7A;
}

.pro-tips-link {
  color: #53AD7A;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}

.youtube-container {
  overflow: hidden;
  border-radius: 8px;
  margin-top: 10px;
}

.youtube-iframe {
  border-radius: 14px;
}
